{% extends "layout.html" %}
{% block content %}
    {% for doctor in doctors %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + doctor.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ doctor.email }}</a>
              <small class="text-muted">{{ doctor.mobile_number }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ doctor.username }}</a></h2>
            <p class="article-content">{{ doctor.gender }}</p>
            <p class="article-content">{{ doctor.age }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
